
.welcome-heading {
  font-size: 3.25rem;
  font-weight: 900;
  line-height: 1.3;
  color:#199b39;
  margin-left: 1rem;
}

.submit-icon {
  font-size: 2rem;
}

.color-green{
  color: #199b39;
}

.welcome-select {
  background-color: #e8e8e8 !important;
}