.currency-home{
  font-size: 3rem;
}

.spend-container-home {
  margin-top: 2rem;
}

.stats-section {
  margin-top:2rem;
}

.stats-card {
  background-color: #1b1a1d;
  border-radius: 1.5rem;
  width:95%;
  min-height: 200px;
  color:#fff;
}

.stats-heading {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.expense-item {
  height: 4rem;
  width:94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.expense-icon {
  font-size: 1.75rem;
  margin-right:1rem;
}

.expense-icon-item {
  display: flex;
  align-items: center;
}

.expense-heading {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-bottom: .5rem;
}

.currency-item {
  font-size: 1rem;
}

.expense-item .currency-item {
  font-size: .75rem;
}