* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: rgb(0, 30, 60);
  font-family: 'Nunito', sans-serif;
  background: #f7fafb;
} */

/* .container {
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  min-height: 90vh;
} */

.margin-auto {
  margin: auto;
}

.margin-tb-1{
  margin-top:1rem;
  margin-bottom: 1rem;
}

.margin-lr-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.padding-tb-1{
  padding-top:1rem;
  padding-bottom: 1rem;
}

.padding-lr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.align-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.page-heading{
  margin-top: .5rem;
  margin-left: .5rem;
  position: sticky;
  top: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  background: #f6f6f6;
}

.color-gray {
  color:gray;
}

.container {
  height: calc(100%-70px);
}

button.Mui-selected {
  color: #ffb968;
}